.main_content{
    width: 1140px;
    margin: 0 auto;
    margin-top: 20px;
}
.left{
    float: left;
    width: 16% !important;
    margin-right: 1%;
    .titles{
        opacity: .7;
        padding-left: 4px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.9;
        color: grey;
        text-shadow: 0 1px 0 rgba(255,255,255,.15);
        border: 1px solid rgba(0,0,0,.1);
        border-bottom: none;
        background: #f2f2f2;
        border-radius: 3px;
        h3{
            font-weight: 400;
        }
    }
    .left_details{
        background: #ffffff;
        padding: 4px;
        .sub_tit{
            background: #f6f4f0;
            border-bottom: 1px solid #efefef;
            a{
                padding: 4px;
                color: #000;
                font-size: 12px;
                line-height: 20px;
            }
        }
        dl{
            padding: 4px;
            dt{
                color: #404040;
                background: #ffffff;
                font-size: 14px;
                margin-bottom: 4px;
                margin-top: 15px;
                font-weight: 700;
                a{
                    color: #404040;
                }
                span{
                    color:#64854c;
                }
            }
            dd{
                background-color: #f6f4f0;
                color: rgb(255, 255, 255);
                border-bottom: 1px solid #efefef;
                padding: 3px;
                a{
                    line-height: 20px;
                    padding: 4px;
                    color: #000000;
                    font-size: 12px;
                    &:hover{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
.middle{
    float: left;
    width: 66%;
    margin-right: 1%;
    background: #ffffff;
    .preview_next_links{
        line-height: 24px;
        padding: 10px 30px;
        background: #fbfbfb;
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        color: #8590a6;
        border: 1px solid #e7eaf1;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 37, 55, .05);
        .preview{
            float: left;
            a{
                color: gray;
                font-size: 16px;
            }
        }
        .next{
            float: right;
            a{
                color: gray;
                font-size: 16px;
            }
        }
    }
    .article_info{
        padding: 10px 10px 20px 10px;
        h1{
            margin-bottom: 10px;
            font-size: 24px;
            color: #000;
            span{
                color: #64854c;
            }
        }
        hr{
            background-color: #d4d4d4;
            color: #d4d4d4;
            height: 1px;
            border: 0;
            clear: both;
            margin: 5px 0;
        }
        h2{
            margin: 2px 0;
            line-height: 38px;
            font-size: 20px;
        }
        p{
            font-size: 13px;
            line-height: 24px;
            a{
                color: #64854c;
                text-decoration: underline;
            }
        }
        .example{
            width: 98%;
            color: #000;
            background-color: #e5eecc;
            margin: 0 0 5px 0;
            padding: 5px;
            border: 1px solid #d4d4d4;
            .example_info{
                line-height: 14px;
                width: 98%;
                background-color: #fff;
                padding: 5px;
                border: 1px solid #d4d4d4;
                font-size: 110%;
                span{
                    font-size: 12px;
                }
            }
        }
        table{
            width: 100%;
            border-collapse: collapse;
            tr{
                &:nth-child(odd){
                    background: #f6f4f0;
                }
                th{
                    color: #fff;
                    background-color: #555;
                    border: 1px solid #555;
                    font-size: 12px;
                    padding: 3px;
                    vertical-align: top;
                    text-align: left;
                    &:first-child{
                        width: 20%;
                    }
                }

                td{
                    line-height: 20px;
                    min-width: 24px;
                    border: 1px solid #d4d4d4;
                    padding: 5px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    vertical-align: top;
                    font-size: 14px;
                    a{
                        color: #64854c;
                        text-decoration: underline;
                        font-size: 12px;               
                    }
                }
            }
        }
    }
    .commits{
        position: relative;
        padding: 10px;
        .commits_details{
            background-color: #F6F6F6;
            border-radius: 7px;
            padding: 30px 20px;
            text-align: center;
            margin-bottom: 20px;
            h3{
                margin-bottom: 15px;
                font-weight: normal;
                font-size: 18px;
                a{
                    color: #333;
                }
            }
            p{
                font-size: 14px;
                &:last-child{
                    color: #64854c;
                }
            }
        }
    }
}
.right{
    float: left;
    width: 15.6%;
    margin-right: 0;
    .first{
        .tit{
            padding: 0 19px 10px 19px;
            background: #e9e9e9;
            text-align: center;
            .tit_info{
                background: #efefef;
                padding: 5px 0 5px 0;
                a{
                    font-size: 16px;
                    color: #64854c;
                    font-weight: bold;
                }
            }
        }
        .serarch_list{
            background: #fff;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            ul{
                li{
                    height: 26px;
                    line-height: 26px;
                    padding: 5px 2px;
                    position: relative;
                    text-align: center;
                    vertical-align: middle;
                    background: #f6f4f0;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        .search_details{
                            display: block;
                        }
                        
                        a{
                            color: #64854c;
                            text-decoration: underline;
                            font-weight: bold;
                        }
                    }
                    a{
                        font-size: 12px;
                        text-decoration: none;
                        color: #000;
                        font-weight: 600;
                    }
                    .search_details{
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 160px;
                        ul{
                            width: 300px;
                            padding: 0 10px;
                            li{
                                float: left;
                                width: 50%;
                                height: 37px;
                                line-height: 37px;
                                padding: 0;
                                text-align: center;
                                border: none;
                                font-weight: normal;
                                a{
                                    width: 80%;
                                    display: block;
                                    height: 37px;
                                    line-height: 37px;
                                    border-bottom: 1px solid #ccc;
                                    margin: 0 auto;
                                    box-sizing: border-box;
                                    font-weight: normal;
                                    color: #000;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .second{
        margin-top: 20px;
        background: #ffffff;
        padding-bottom: 4px;
        .ad_tit{
            margin-bottom: 10px;
            padding: 0 19px 10px 19px;
            background: #e9e9e9;
            text-align: center;
            border-radius: 3px;
            a{
                width: 100%;
                background: #efefef;
                display: block;
                padding: 5px 0 5px 0;
                color: #ccc;
                font-size: 12px;
            }
        }
    }
}