* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix {
  zoom: 1;
}
.clearfix::after {
  display: block;
  content: '';
  height: 0;
  clear: both;
}
body {
  background: #f6f6f6;
}
body .container {
  width: 100%;
}
body .container .title {
  width: 1140px;
  margin: 15px auto;
}
body .container .title img {
  display: block;
  float: left;
  width: 258px;
  height: 39px;
  margin: top 10px;
  margin-left: 20px;
}
body .container .title .search {
  float: right;
  width: 36%;
  background: #eeefed;
  border-radius: 3px;
  text-align: center;
}
body .container .title .search input {
  display: block;
  height: 35px;
  line-height: 35px;
  width: 94%;
  margin: 3px;
  padding-left: 3%;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  color: #ccc;
  font-weight: 400;
  font-size: 12px;
}
body .container .nav {
  background: #96b97d;
}
body .container .nav .nav_container {
  width: 1140px;
  margin: 0 auto;
  padding: 10px 0 0 20px;
}
body .container .nav .nav_container ul li {
  float: left;
  height: 24px;
  margin: 0 20px 0 0;
  line-height: 15px;
}
body .container .nav .nav_container ul li a {
  color: #ffffff;
  font-size: 14px;
}
body .container .main_container {
  margin-top: 20px;
}
body .container .main_container .content {
  width: 1140px;
  margin: 0 auto;
}
body .container .main_container .content .left {
  float: left;
  width: 16%;
  margin-right: 1%;
}
body .container .main_container .content .left .tit {
  box-sizing: border-box;
}
body .container .main_container .content .left .tit h3 {
  padding-left: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  color: grey;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
}
body .container .main_container .content .left .left_list {
  background: #ffffff;
  margin: 0 0 20px 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
body .container .main_container .content .left .left_list ul li {
  padding: 12px 0px;
}
body .container .main_container .content .left .left_list ul li:nth-child(odd) {
  background: #fbfbfb;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: 3px;
}
body .container .main_container .content .left .left_list ul li p {
  font-size: 13px;
  padding-left: 20px;
}
body .container .main_container .content .right {
  float: left;
  width: 78%;
  background: #fff;
  border-radius: 4px;
  margin-right: 0;
  padding: 12px 20px;
  border: 1px solid #eaeaea;
}
body .container .main_container .content .right .details h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0;
  border-bottom: 1px solid #eaeaea;
}
body .container .main_container .content .right .details ul li {
  float: left;
  width: 28%;
  margin: 0 8px 10px 0;
  text-align: left;
  height: 80px;
  color: #bbb;
  background: #f6f6f6;
  border-radius: 5px;
  padding: 6px 16px;
}
body .container .main_container .content .right .details ul li h4 {
  color: #64854c;
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.1;
  text-align: left;
}
body .container .main_container .content .right .details ul li img {
  display: block;
  float: left;
  margin: 0 10px 5px;
  border-radius: 5px;
}
body .container .main_container .content .right .details ul li span {
  display: block;
  color: #666;
  text-align: left;
  font-size: 12px;
  font-weight: 700;
}
body .container .footer {
  margin-top: 20px;
  background: #ffffff;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 50px;
}
body .container .footer .footer_container {
  width: 80%;
  margin: 0 auto;
}
body .container .footer .footer_container dl {
  float: left;
  width: 15%;
  color: gray;
  padding-left: 30px;
  margin: 25px 0;
  border-left: 1px solid #e4e4e4;
  min-height: 175px;
  font-size: 12px;
}
body .container .footer .footer_container dl dt {
  font-size: 14px;
  color: #666;
  font-weight: 500;
}
body .container .footer .footer_container dl dd {
  font-size: 12px;
  margin-top: 10px;
}
body .container .footer .footer_container .wechat {
  float: left;
  width: 16%;
  min-height: 226px;
  border-left: 1px solid #e4e4e4;
  padding: 20px 0 0 40px;
}
body .container .footer .footer_container .wechat .tit {
  font-size: 18px;
  color: #666;
  margin-bottom: 8px;
  font-weight: 700;
}
